@{
    ViewBag.Title = "Home Page";
}

  
<script src="https://kit.fontawesome.com/87669e0a28.js"></script>
<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-outline-primary btn-large btn-block">
            <i class="fas fa-donate "></i>  Retirer
        </a>
        <a href=@Url.Action("Details","Compte") class="btn btn-outline-primary btn-large btn-block">
            <i class="fas fa-balance-scale"></i> Balance
        </a>
        <a href="#" class="btn btn-outline-primary btn-large btn-block">
            <span class="glyphicon glyphicon-plus"></span>Retirer
        </a>
    </div>
  
       
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-outline-primary btn-large btn-block">
            <span class="glyphicon glyphicon-plus"></span>Retirer
        </a>
        <a href="#" class="btn btn-outline-primary btn-large btn-block">
            <span class="glyphicon glyphicon-plus"></span>Retirer
        </a>
        <a href="#" class="btn btn-outline-primary btn-large btn-block">
            <span class="glyphicon glyphicon-plus"></span>Retirer
        </a>
    </div>
</div>
@section scripts
    {
    <script>var testing = true;</script>
}
